[General]
Name = {{BT_NAME}}
Class = 0x240414
DiscoverableTimeout = 0
PairableTimeout = 0
AlwaysPairable = true
JustWorksRepairing = always
FastConnectable = true
Privacy = off
ControllerMode = dual
Experimental = true

[Policy]
AutoEnable = true
ReconnectAttempts = 7
ReconnectIntervals = 1,2,4,8,16,32,64
